.DiscussionListItemContainer {
	border: 1px solid #ffffff;
	border-radius: 5px;
	margin: 12px;
	min-height: 50px;
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	font-size: 1rem;
}

.DiscussionListItemTitle {
	text-align: left;
	display: flex;
	white-space: normal !important;
	align-items: center;
	word-wrap: break-word;
	flex-grow: 1;
}

.DiscussionListItemUserComments {
	min-height: 50px;
	display: flex;
	align-items: center;
	font-size: 0.75rem;
	padding: 0px !important;
	margin: 0px !important;
}

.DiscussionListItemComments {
	width: 100px !important;
	text-align: center;
	align-items: center;
	white-space: nowrap !important;
	padding: 10px !important;
	margin: 0px !important;
}

.DiscussionListItemUserDate {
	width: 130px !important;
	text-align: left;
	white-space: nowrap !important;
	align-items: center;
	padding: 10px !important;
	margin: 0px !important;
}

.vertical-divider {
	width: 1px;
	background-color: #ffffff !important;
	height: max-content; /* Ensure it takes up the full height */
	align-self: stretch; /* Stretch the divider to fill the container */
}

.vertical-horizontal-divider {
	width: 1px;
	background-color: #ffffff !important;
}

@media (max-width: 600px) {
	.DiscussionListItemContainer {
		flex-direction: column;
		height: auto;
	}

	.DiscussionListItemTitle {
		width: 100% !important;
		text-align: left;
		padding: 5px;
		white-space: normal !important; /* Allow wrapping */
		word-wrap: break-word; /* Break long words */
		flex: 1;
	}

	.DiscussionListSmallWindow {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		justify-content: space-between;
	}

	.DiscussionListItemUserComments {
		width: 100%;
		display: flex;
		justify-content: space-between;
		flex-direction: row;
		height: 40px;
	}

	.DiscussionListItemUserDate,
	.DiscussionListItemComments {
		padding: 0px;
		width: 50%;
		text-align: center;
	}

	.vertical-horizontal-divider {
		height: 1px;
		width: 100%;
	}
}
