.DiscussionListItem {
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px;
	margin: 10px 0;
	/* display: flex; */
	align-items: center;
	text-align: center;
	justify-content: space-between;
}

.DiscussionListItem .separator {
	width: 1px;
	height: 100%;
	background-color: #ccc;
	margin: 0 10px;
}
.DiscussionListItem .left-side {
	display: flex;
	align-items: center;
}

.DiscussionListItem .right-side {
	display: flex;
	align-items: center;
}

.content-box {
	height: 100%;
	text-align: left;
	align-items: center;
	/* text-align: center; */
	display: flex;
	/* justify-content: center; */
}

.comments-box {
	height: 100%;
	border-right: 1px solid #ffffff;
	border-left: 1px solid #ffffff;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.user-date-box {
	height: 100%;
	text-align: right;
	align-items: center;
}
