.DiscussionListItemContainer {
	border: 1px solid #ffffff;
	border-radius: 5px;
	margin: 10px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px;

	.DiscussionListItemTitle {
		text-align: left;
		padding: 0 5px;
		margin: 0;
		display: flex;
		white-space: normal !important;
		align-items: center;
		word-wrap: break-word;
		flex-grow: 1;
	}

	.DiscussionListItemUserComments {
		display: flex;
		align-items: center;
		min-height: 50px;

		.vertical-divider {
			width: 1px;
			background-color: #ffffff !important;
			height: 100%; /* Ensure it takes up the full height */
			align-self: stretch; /* Ensure it stretches to the height of the parent container */
		}
	}

	.DiscussionListItemComments {
		width: 120px !important;
		text-align: center;
		padding: 0 5px;
		margin: 0;
		align-items: center;
		white-space: nowrap !important;
	}

	.DiscussionListItemUserDate {
		width: 150px !important;
		text-align: left;
		padding: 0 5px;
		margin: 0;
		white-space: nowrap !important;
		align-items: center;
	}

	.vertical-horizontal-divider {
		width: 1px;
		background-color: #ffffff !important;
		height: 98%; /* Adjust height to 98% */
		margin: 0 5px;
	}
}

@media (max-width: 600px) {
	.DiscussionListItemContainer {
		flex-direction: column;
		height: auto;

		.DiscussionListItemTitle {
			width: 100% !important;
			text-align: left;
			padding: 5px;
			margin: 0;
			white-space: normal !important; /* Allow wrapping */
			word-wrap: break-word; /* Break long words */
			flex: 1;
		}

		.DiscussionListSmallWindow {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			justify-content: space-between;
		}

		.DiscussionListItemUserComments {
			width: 100%;
			display: flex;
			justify-content: space-between;
			padding: 5px;
			flex-direction: row;
			min-height: 50px; /* Ensure minimum height */

			.vertical-divider {
				display: none;
			}
		}

		.DiscussionListItemUserDate,
		.DiscussionListItemComments {
			width: auto !important;
			text-align: center;
			padding: 5px;
			margin: 0;
		}

		.vertical-horizontal-divider {
			height: 1px;
			width: 98%;
		}
	}
}
