.MovieTitle {
	text-align: center;
	font-weight: bold !important;
	font-size: 2.75rem !important;
	word-wrap: break-word; /* Allow the text to wrap */
	white-space: normal; /* Ensure the text takes as many lines as needed */
	overflow-wrap: break-word;
}

/* @media (max-width: 600px) {
	.MovieTitle {
		font-size: 1.75rem !important;
	}
} */

.MovieDetailBox {
	padding: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;
}

@media (min-width: 800px) {
	.MovieDetailBox {
		flex-direction: row;
		padding: 0px;
	}
}

.MoviePosterBox {
	margin-right: 20px;
}

.MoviePosterDetails {
	width: 100%; /* Ensure the image takes up the full width of the container */
	max-width: 300px; /* Set a maximum width for the image */
	height: 100%;
	max-height: 420px;
	border-radius: 8px;
	object-fit: cover;
}

.NoImageTextDetails {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 420px;
	border-radius: 8px;
	background-color: #f0f0f0;
	color: #008080;
	font-weight: bold;
	margin: 10px;
	font-size: 1.2em;
	padding: 10px;
}

/* Discussion list below movie list css */
.discussion-header {
	display: flex;
	justify-content: space-between; /* Align items to the left and right */
	align-items: center;
}

.most-recent-discussions {
	font-weight: bold;
}

.divider {
	width: 100%;
	background-color: #ffffff;
	opacity: 0.25;
}

.starIcon {
	color: #008080;
	margin-bottom: -5px;
}
