.MovieDetail {
	display: flex;
	align-items: flex-start;
	padding: 20px;
	color: #dddbcb !important;

	background-color: var(--background-color);
	color: var(--text-color);
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.MoviePosterContainer {
	flex: 0 0 auto;
	margin-right: 20px;
}

.MoviePosterDetails {
	width: auto;
	height: 420px;
	border-radius: 8px;
	object-fit: cover;
}

.MovieInfo {
	flex: 1 1 auto;
}

.MovieInfo h1 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 2em;
}

.MovieInfo p {
	margin: 5px 0;
}

.MovieInfo strong {
	font-weight: bold;
}

.MovieDetailContainer {
	display: flex;
	flex-direction: column;
	max-width: 1475px; /* Adjust this value as needed */
	margin: 0 auto;
	padding: 20px;
	color: #dddbcb;
}

.MovieTitle {
	text-align: center;
	font-size: 2.5em; /* Increase the font size */
	margin-bottom: 20px; /* Add some space below the title */
}

.MovieDetail .MovieInfo h1 {
	text-align: center;
	font-size: 2.5em; /* Increase the font size */
	margin-bottom: 20px; /* Add some space below the title */
}

.add-movie-button {
	padding: 10px 20px !important;
	border-radius: 25px !important;
	border: none !important;
	border-radius: 25px !important;
	background: #008080 !important;
	color: #dddbcb !important;
	cursor: pointer !important;
	margin: 10 0px !important;
	font-family: var(--font-family);
}

.delete-movie-button {
	border-radius: 25px !important;
	padding: 10px 20px !important;
	margin: 0 10px !important;
	border: 2px solid #008080 !important;
	border-radius: 25px !important;
	background: none !important;
	color: #dddbcb !important;
	cursor: pointer;
	font-family: var(--font-family);
}

/* src/components/movies/MovieDetail.css */
.movie-detail-header {
	margin-bottom: 10px;
}
.discussion-header {
	display: flex;
	justify-content: space-between; /* Align items to the left and right */
	align-items: center;
}
.create-discussion-button {
	margin-left: auto; /* Push the button to the right */
	color: #dddbcb !important;
	background-color: #008080 !important;
	border-radius: 25px !important;
}
.most-recent-discussions {
	font-weight: bold;
}
