body {
	margin: 0;
}

.Container {
	max-width: 1475px !important;
}

.TableContainer {
	margin: 20px;
	padding: 20px;
	border-radius: 10px;
	max-width: 1475px !important;
	display: flex;
	justify-content: center;
	align-items: center;
}

.Table {
	color: #dddbcb !important;
	background-color: transparent; /* Remove the background color */
}

.TableCell {
	color: #dddbcb !important;
}

.TableHead {
	color: #dddbcb !important;
}

.TableRow {
	color: #dddbcb !important;
}

/* Ensure text color is applied to all elements within the table */
.TableContainer,
.TableContainer * {
	color: #dddbcb !important;
}
